<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <table
      width="100%"
      border="0"
      align="center"
      cellpadding="0"
      cellspacing="0"
      style="
        background-color:#c3d3e5;"
    >
    
      <!--HEADER -->
      <tbody>
        <tr>
          <td align="center">
            <table
              class="col-header"
              width="100%"
              border="0"
              align="center"
              cellpadding="0"
              cellspacing="0"
            >
              <tbody>
                <tr>
                  <td
                    align="center"
                    valign="top"
                    background="https://res.cloudinary.com/dbl7owtdh/image/upload/v1654027359/Forget%20Me%20Not/email_header_rvt7i6.png"
                    style="
                      background-size: cover;
                      background-position: center;
                      height: 200;
                    "
                  >
                  <table
                      class="col-600"
                      width="600"
                      height="200"
                      border="0"
                      align="center"
                      cellpadding="0"
                      cellspacing="0"
                    >
                      <tbody>
                        <tr>
                          <td height="40"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <!-- END HEADER -->

        <!-- START ARTICLES -->
        <tr>
          <td align="center">
            <table
              class="col-810 articles-table-header
              "
              width="810
              "
              border="0"
              align="center"
              cellpadding="0"
              cellspacing="0"
              style="
                margin: 20px 20px 0 20px;
                border-top: 2px solid #333670;
                border-right: 2px solid #333670;
                border-left: 2px solid #333670;
                border-radius: 25px 25px 0 0;
              "
            >
              <tbody>
                <%# <tr>
                  <td height="10"></td>
                </tr> %>

                <tr>
                  <td
                    class="welcome-message"
                    align="center"
                    style="
                      font-family: 'Trebuchet MS', Arial, sans-serif;
                      font-size: 22px;
                      font-weight: bold;
                      color: #110f61;
                      padding: 25px 0 10px 0;
                    "
                  >
                  </td>
                </tr>

                <%# <tr>
                  <td height="10"></td>
                </tr> %>

                <tr>
                  <td
                    align="center"
                    style="
                      font-family: 'Trebuchet MS', Arial, sans-serif;
                      font-size: 36px;
                      color: #333670;
                      line-height: 40px;
                      padding:20px;
                    "
                  >
                    <span style="
                    background-color:#ffffff; 
                    padding: 30px 320px; 
                    border-radius: 15px;
                    " 
                    width="90%"><%= @current_newsletter.frequency.capitalize %></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>


        <%# Articles table body: %>
        <tr class="article-row">
          <td align="center">
            <table
              class="outer-body-table
              "
              width="810
              "
              border="0"
              align="center"
              cellpadding="0"
              cellspacing="0"
              style="
                border-left: 2px solid #333670;
                border-right: 2px solid #333670;
                border-bottom: 2px solid #333670;
                border-radius: 0 0 25px 25px;
              "
            >
              <tbody>
                <tr>

                  <% @current_newsletter.articles.each do |article|%>
                    <% if article.headline && article.text %>
                      <td>
                        <div class="card is-centered">
                          <h3 style="
                            font-family: 'Trebuchet MS', Arial, sans-serif;
                            font-size: 20px;
                            color: #110f61;
                            line-height: 24px;
                            font-weight: bold;
                          ">
                            <%=article.headline%>
                          </h3>
                          <p><%= article.text.slice(0, 200)%></p>
                          <a class="btn btn-primary" href="<%= article.url%>" target="_blank">Continue reading</a>
                        </div>  
                      </td>
                                          
                    <% else %>
                      <td>
                        <div class="card is-centered">
                          <h3 style="
                            font-family: 'Trebuchet MS', Arial, sans-serif;
                            font-size: 20px;
                            color: #110f61;
                            line-height: 24px;
                            font-weight: bold;
                          ">
                            <%= article.headline %>
                          </h3>
                          <a class="btn btn-primary" href="<%= article.url%>" target="_blank">Continue reading</a>
                        </div>
                      </td>
                    <% end %>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
  </table>

        <!-- END ARTICLES -->

  </body>
</html>


  